# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Environments
.env
.venv/
venv/
ENV/
env/

# Test/coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Logs
*.log

# Misc
*.sqlite3
*.db
*.dat
*.bak
*.tmp
*.swp
*.swo

# Mac
.DS_Store

# Windows
Thumbs.db
